<div *ngIf="name">
 Id: {{ pokemon.id }} <br />
 Name: {{ pokemon.name }} <br />
 Weight: {{ pokemon.weight|kilogram }} <br />
 Height: {{ pokemon.height|metre }} <br />
 <img src="{{ pokemon.sprite }}"> <br />
 <div>
  <app-pokespecie [url]="pokemon.specie"></app-pokespecie>
 </div>
<!-- <div *ngFor="let ability of pokemon.abilities">
  {{ ability }} <br />
 </div>
 
 <div *ngFor="let move of pokemon.moves">
  {{ move }} <br />
 </div>
 -->
 <div *ngFor="let ability of pokemon.abilities">
  <app-pokeability [url]="ability"></app-pokeability>
 </div>

 <div *ngFor="let move of pokemon.moves">
  <app-pokemove [url]="move"></app-pokemove>
 </div>

 <h1> Types </h1>
 <div *ngFor="let type of pokemon.types">
 Type: {{ type }} <br />
 </div>
</div>
